# This actually adds the data file. May be it is not required when 
# package_data in setup.py lists these libraries

# Windows x64
include dann5/d5.cp310-win_amd64.pyd
include dann5/d5o.cp310-win_amd64.pyd

# macOS
include dann5/d5o2.cpython-310-darwin.so

# linux
include dann5/d5o2.so
